.active{
    text-decoration: underline;
}
  
#jeff{
    color: black;
}

#jeff:hover{
    background-color: rgb(255, 255, 255);
}

  .mhome{
    animation: transitionIn 1s;
  }

.headshot{
    width: 30%;
    padding: 20px;
    background-color: rgb(204, 227, 248);
    border-radius: 50%
}

h2{
    width: 70%;
    margin: auto;
    padding: 20px;
    padding-left: 0px;
}

.mhome {
    margin: auto;
    display: flex; 
    flex-wrap: wrap; 
    width: 70%;
    align-items: center;
    padding: 20px;
    gap: 20px; 
}

.headshot {
    width: 30%; 
    padding: 20px; 
    background-color: rgb(204, 227, 248); 
    border-radius: 50%;
    object-fit: cover; /* Ensures the image fits properly if cropped */
}

.text-content {
    flex: 1; /* Let the text take up the remaining space */
}

.text-content h2 {
    margin: 0 0 10px; /* Space between the title and paragraph */
}

.text-content p {
    margin: 0; 
}

h2{
    font-size: 30px;
}

.mdiv{
    padding: 30px;
}

p{
    font-size: 20px;
}

.chat{
    width: 70%;
    margin: auto;
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(255, 0, 0, 0.109);
}

.h2{
    all: unset;
    font-size: 30px;
}

.pi{
    padding-top: 15px;
}

.tdiv{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

#book{
    background-color: rgba(0, 72, 255, 0.109);
    width: 70%;
    margin: auto;
    padding: 20px;
    border-radius: 20px;
}

#games{
    background-color: rgba(255, 247, 0, 0.109);
    width: 70%;
    margin: auto;
    padding: 20px;
    border-radius: 20px;
}

#fam{
    background-color: rgba(255, 153, 0, 0.198);
    width: 70%;
    margin: auto;
    padding: 20px;
    border-radius: 20px;
}

#tv{
    background-color: rgba(0, 255, 238, 0.198);
    width: 70%;
    margin: auto;
    padding: 20px;
    border-radius: 20px;
}

#listb{
    width: 50%;
    margin-left: 10%;
    font-size: 20px;
}

/* sm */
@media (max-width: 640px) {
    .headshot{
        width: 90%;
        padding: 8px;
    }
}

/* md */
@media (max-width: 800px) {
    .headshot{
        padding: 8px;
    }
  }
